.popup__button-reset {
    background-image: url(../../../images/Close-Icon.svg);
    transition: opacity .5s ease;
    width: 32px;
    height: 32px;
    border: none;
    position: absolute;
    top: -35px;
    right: -35px;
    background-color: transparent;
    background-size: cover;
}

.popup__button-reset:hover {
    opacity: .6;
}

@media (max-width: 520px) {
    .popup__button-reset {
        top: -36px;
        right: 0;
        width: 20px;
        height: 20px;
    }
}