.profile__container {
    width: 336px;
    height: 73px;
    align-self: center;
    display: grid;
    grid-template-columns: max-content min-content;
    gap: 16px 18px;
}

@media (max-width: 680px) {
    .profile__container {
        justify-content: center;
    }
    
}