.card__like {
    background-image: url(../../../images/Group.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    background-color: #fff;
    border: none;
    transition: opacity 0.5 ease-in;
}

.card__like:hover {
    opacity: 0.5;
}